.banner {
	background-color:#102d35;
	color: white;
	padding: 5px 10px;
}
.banner-head{
	font-size: 2.4em;
}

.footer {
	background-color:#102d35;
	color: white;
	padding-top: 5px;
}

.footer a,.footer a:VISITED {
	color: white;	
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}


.head1{
	font-size: large;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
}

.fn-caption{
	padding-left: 10px;
	font-weight: bold;
	font-size: medium;
	color: #636363;
}
